html {
  height: 2000px;
  width: 2000px;
 }

 body {
  height: 2000px;
  width: 2000px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom right, #FF9966, #FF5E62); /* Используйте свои цвета */
 }

 .block-1 {
  padding: 10px;
  background-color: #fff;
  border: none;
  border-radius: 5px;
 }

 .block-2 {
  display: flex;
  margin: 150px;
}

.block-3,.block-4 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  margin-left: 150px;
  margin-right: 150px;
  background-color: #fff;
  border: none;
  border-radius: 5px;
}

 .block-5 {
  padding: 10px;
  background-color: #fff;
  border: none;
  border-radius: 5px;
 }

 .testbox {
  height: 150px;
  width: 150px;
  background-color: #fff;
  color: #333;
  margin: 10px;
  padding: 10px;
  border: none;
  font-size: 18px;
  cursor: pointer;
 }

#mypopover {
  border: 3px solid rgb(121, 1, 27);
  border-radius: 5px;
  margin: 0;
  padding: 20px;
}

