html {
  font-family: sans-serif;
  /* height: 1000px; */
}

body {
  width: 1400px;
}

.divHead {
  height: 500px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1400px;
  height: 500px;
}

footer {
  display: flex;
  height: 2000px;
}